/* You can add global styles to this file, and also import other style files */

body {
    background-color: rgba(0, 140, 255, 0.315);
}
.prevent-selection {
    user-select: none;
}
.blink-me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}