#auth {
    background-color: #fff;
    width: 885px;
    height: auto;
    border-radius: 5px;
    padding: 20px;
}

h3 {
    color: #F06102;
    font-size: 18px;
    line-height: 32px;
    margin-top: 20px;
}